<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sijia.myapplication">

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

            <!--
                <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".WifiActivity" />
        <activity android:name=".ViewPagerActivity" />
        <activity android:name=".DialogActivity">

            <!--
                <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <!--
            <activity android:name=".VolleyActivity" />
        <activity android:name=".TestActivity" >

            &lt;!&ndash;
                <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            &ndash;&gt;
        </activity>
        <activity android:name=".AnimationActivity" />
        -->

        <activity android:name=".PullToRefreshDemoActivity" />
        <activity android:name=".PullToRefreshDividePageDemoActivity">

        </activity>
        <activity android:name=".FlowRadioButtonActivity" />
        <activity android:name=".RecyclerViewDemoActivity" />
        <activity android:name=".FloatTopActivity" />
        <activity android:name=".RollViewPageDemoActivity"></activity>
        <activity
            android:name=".ScrollLisenerActivity"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity android:name=".DrawerLayoutDemoActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
