<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sijia.myapplication">

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".WifiActivity" />
        <activity android:name=".ViewPagerActivity" />
        <activity android:name=".DialogActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PullToRefreshDemoActivity" />
        <activity android:name=".PullToRefreshDividePageDemoActivity" />
        <activity android:name=".FlowRadioButtonActivity" />
        <activity android:name=".RecyclerViewDemoActivity" />
        <activity android:name=".FloatTopActivity" />
        <activity android:name=".RollViewPageDemoActivity" />
        <activity
            android:name=".ScrollLisenerActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".DrawerLayoutDemoActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".SimpleTabFragmentActivity"
            android:label="@string/title_activity_simple_tab_fragment" />
        <activity
            android:name=".activity.Main2Activity"
            android:clipToPadding="true"
            android:label="@string/title_activity_main2">

            <!--
                <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".ContainerActivity"
            android:label="@string/title_activity_container" />
        <activity
            android:name=".MyTest"
            android:label="@string/title_activity_main2"></activity>
        <activity
            android:name=".HtmlSource"
            android:label="@string/title_activity_html_source">

            <!--
                <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".activity.ForBroadCastReceiver.BroadcastReceiverDemoActivity"
            android:label="@string/title_activity_broadcast_receiver_demo"></activity>
        <activity
            android:name=".activity.ForBroadCastReceiver.SendBroadCastActivity"
            android:label="@string/title_activity_send_broad_cast" />
        <activity
            android:name=".EasyrecyclerviewActivity"
            android:label="@string/title_activity_easyrecyclerview">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".AnActivity"
            android:label="@string/title_activity_an">

            <!--
                <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".ProgressBarDemoActivity"
            android:label="@string/title_activity_progress_bar_demo">

            <!--
                <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".TestActivity.FrameAniTestActivity"
            android:label="@string/title_activity_frame_ani_test">

            <!--
                <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".TestActivity.TweenAniamtionTestActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".CustomViewTest.ScrollTestActivity"
            android:label="@string/title_activity_scroll_test">
            <!--       <intent-filter>
                       <action android:name="android.intent.action.MAIN" />

                       <category android:name="android.intent.category.LAUNCHER" />
                   </intent-filter>-->
        </activity>
        <activity
            android:name=".DialogTest.AlertDialogActivity"
            android:label="@string/title_activity_alert_dialog">
          <!--  <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
    </application>

</manifest>
